@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=Libre+Franklin:wght@100;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Libre Franklin', sans-serif;
  background-color: #F7F7F7;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 5px;
}

.wraper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

/*-----------------------------------------------*/
[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header::before {
  display: none;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #020202;
  z-index: 10;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0  126px;
          flex: 0 0  126px;
  z-index: 51;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 1;
}

.header__button {
  z-index: 10;
}

.header__burger {
  display: none;
}

.menu {
  z-index: 1;
}

.menu__link {
  padding: 0 40px 0 0;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}

.button {
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 11px 17px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  z-index: 10;
}

@media (max-width: 1440px) {
  [class*="__container"] {
    max-width: 1170px;
  }
}

@media (max-width: 1170px) {
  [class*="__container"] {
    max-width: 970px;
  }
  .menu__link {
    padding: 0 20px 0 0;
  }
}

@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 510;
    color: #922727;
  }
  .header__burger::before,
  .header__burger::after,
  .header__burger span {
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger::before {
    top: 0;
    -webkit-transition: 0.3s ease 0s;
    transition: 0.3s ease 0s;
  }
  .header__burger::after {
    bottom: 0;
    -webkit-transition: 0.3s ease 0s;
    transition: 0.3s ease 0s;
  }
  .header__burger span {
    top: 9px;
  }
  /*===============================*/
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    z-index: -2;
    padding: 70px 0 0 10px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-transition: 0.3s ease 0s;
    transition: 0.3s ease 0s;
  }
  .header__menu.active {
    top: 0%;
  }
  .header__container {
    height: 60px;
  }
  .menu__link {
    display: block;
    margin: 10px 0;
  }
  body.lock {
    overflow: hidden;
  }
  .header.active::before {
    display: block;
  }
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.propel {
  text-align: center;
  color: #fff;
}

.propel__container {
  background: url(/maket/img/propel-img.png) no-repeat;
}

.propel__title {
  padding: 200px 0 30px 0;
  font-size: 71px;
  line-height: 78px;
  font-weight: 700;
}

.propel__text-midle {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 13px;
  line-height: 24px;
  font-weight: 700;
}

.propel__button {
  padding: 60px 0 120px 0;
}

.green__button {
  background-color: #5AB963;
  border: #5AB963;
  padding: 15px 30px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

@media (max-width: 767.98px) {
  .propel {
    background: black;
  }
  .propel__title {
    font-size: 30px;
    line-height: 40px;
  }
  .green__button {
    padding: 10px 15px;
    background-color: #3c8844;
  }
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.promoting {
  font-size: 24px;
  line-height: 36px;
}

.promoting__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promoting__text {
  color: #999999;
  font-weight: 100;
}

.promoting__text span {
  color: #000000;
  font-weight: 700;
}

.text__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0  0 50%;
          flex: 0  0 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0  0 50%;
          flex: 0  0 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promoting__pading {
  padding: 120px 15px 54px 15px;
}

@media (max-width: 767.98px) {
  .promoting {
    font-size: 12px;
    line-height: 24px;
  }
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 120px;
}

.card__item {
  width: 330px;
  padding: 50px 40px;
}

.cards__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.cards__text {
  font-size: 13px;
  line-height: 24px;
  color: #999999;
  font-family: 'IBM Plex Mono', monospace;
}

@media (max-width: 767.98px) {
  .card__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card__item {
    margin: auto;
  }
}

.image__img {
  margin: auto;
  width: 100%;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.illud__pading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 145px 0;
}

.illud__text {
  display: block;
  text-align: center;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.image__tempor {
  max-width: 470px;
  width: 100%;
}

.tempor__text {
  font-size: 13px;
  line-height: 24px;
  color: #999999;
  font-family: 'IBM Plex Mono', monospace;
}

.tempor__pading {
  padding: 90px 0;
}

.text-tempor {
  width: 370px;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.Wanna__text-green {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 11px;
  line-height: 18px;
  color: #5AB963;
  text-transform: uppercase;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.party__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 150px;
}

.party__button {
  padding: 0px;
}

.party__text-green {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #5AB963;
}

@media (max-width: 991.98px) {
  .image__tempor {
    display: none;
  }
  .promoting__container {
    padding: 100px 0;
  }
  .party__container {
    padding: 0 0 100px;
  }
}

@media (max-width: 767.98px) {
  .promoting__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 0;
  }
  .party__text-green {
    font-size: 10px;
  }
  .party__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 50px;
  }
  .party__button {
    padding: 30px 0;
  }
}

.footer {
  background-color: #0A0E1A;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 120px 15px 150px 15px;
}

.footer__logo-text {
  font-size: 12px;
  line-height: 18px;
  color: #666666;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__element {
  padding: 0 25px;
}

.info__title {
  display: none;
  position: relative;
  padding: 0 0 10px 30px;
}

.info__elementtext {
  font-size: 12px;
  line-height: 25px;
  color: #FFFFFF;
}

.info__element-link {
  margin: 10px;
}

.box__element-link {
  margin: 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 767.98px) {
  .info__title {
    display: block;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
  }
  .info__title::before,
  .info__title::after {
    content: '';
    width: 10px;
    background-color: #FFFFFF;
    position: absolute;
    top: 8px;
    height: 1px;
    -webkit-transition: 0.3s ease 0s;
    transition: 0.3s ease 0s;
  }
  .info__title::before {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
    left: 0;
  }
  .info__title::after {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
    left: 8px;
  }
  .info__title.active-title::before {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  .info__title.active-title::after {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  .info__elementtext {
    display: none;
  }
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__container {
    padding: 60px 15px 50px 15px;
  }
}

.info__link {
  color: #FFFFFF;
}
